[Desktop Entry]
Type=Application
Name=Change Wallpaper (Ranger)
Comment=Pick wallpaper using ranger
Exec=kitty -e ~/ArchLinuxConfigs/scripts/changeWallpaper.sh
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Utility;
